@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header, footer {
  text-align: center;
  background-color: #4c6067;
  color: #fff;
  height: 80px;
}

/*
  section_name: contenedor definido para implementar
  margin o padding con el fin de separar las secciones
  entre si
*/
.section_name {
  padding: 50px 0;
  /*
    container_name: contenedor definido para manejar
    el responsive implementando width
  */
}
.section_name .container_name {
  margin: 0 auto;
  /*
    @query de 899px <=== : definimos un width
    responsive en esta medida
  */
  /*
    @query de 900px ===> : definimos un width
    responsive en esta medida
  */
  /*
    content_flexbox: contenedor definido para
    implementar flebox si se requiere
  */
}
@media (max-width: 899px) {
  .section_name .container_name {
    width: 90%;
  }
}
@media (min-width: 900px) {
  .section_name .container_name {
    width: 70%;
  }
}
.section_name .container_name .flexbox_name {
  /*
    box_name
  */
}
.section_name .container_name .flexbox_name .box_name {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  /*
    tag-ul: le definimos display flex para poner sus
    elementos en linea
  */
  /*
    tab_body
  */
}
.section_name .container_name .flexbox_name .box_name ul {
  display: flex;
  /*
    tag-li: la convertimos en un boton para eso le 
    definimos un display: inline-flex mas las propiedades 
    width, justify-content, height, align-items que dan 
    centran su contenido horizontal y verticalmente
  */
}
.section_name .container_name .flexbox_name .box_name ul li {
  list-style: none;
  display: inline-flex;
  width: 120px;
  justify-content: center;
  height: 30px;
  align-items: center;
  color: #4c6067;
  border: 1px solid #4c6067;
  border-radius: 3px;
  margin-right: 10px;
  cursor: pointer;
  transition: 0.2s;
  /*
    js_li_active: clase añadida con javascript
  */
}
.section_name .container_name .flexbox_name .box_name ul li.js_li_active {
  background-color: #4c6067;
  color: #ebfaff;
  border: none;
}
.section_name .container_name .flexbox_name .box_name .tab_body {
  /*
    tab_content
  */
  /*
    js_li_active: clase añadida con javascript
  */
}
.section_name .container_name .flexbox_name .box_name .tab_body .tab_content {
  /*
    tag-h2: le definimos una animacion smoothTop
  */
  /*
    tag-p: le definimos una animacion smoothBottom
  */
}
.section_name .container_name .flexbox_name .box_name .tab_body .tab_content h2 {
  color: #404648;
  margin-top: 30px;
  -webkit-animation-name: smoothTop;
          animation-name: smoothTop;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  /*
    animacion smoothTop: al 0% la trasladamos en el 
    eje Y 7% hacia abajo con una transparencia suave
    cuando llega al 100% lo devolvemos a su posicion 
    inicial con un opacity: 1 osea visible
  */
}
@-webkit-keyframes smoothTop {
  0% {
    opacity: 0.2;
    transform: translateY(7%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
@keyframes smoothTop {
  0% {
    opacity: 0.2;
    transform: translateY(7%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
.section_name .container_name .flexbox_name .box_name .tab_body .tab_content p {
  color: #404648;
  line-height: 22px;
  margin: 20px 0;
  -webkit-animation-name: smoothBottom;
          animation-name: smoothBottom;
  -webkit-animation-duration: 0.7s;
          animation-duration: 0.7s;
  /*
    animacion smoothBottom: al 0% la trasladamos en el 
    eje Y -3% hacia arriba con una transparencia suave
    cuando llega al 100% lo devolvemos a su posicion 
    inicial con un opacity: 1 osea visible
  */
}
@-webkit-keyframes smoothBottom {
  0% {
    opacity: 0.2;
    transform: translateY(-3%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
@keyframes smoothBottom {
  0% {
    opacity: 0.2;
    transform: translateY(-3%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
.section_name .container_name .flexbox_name .box_name .tab_body .js_content_hidden {
  display: none;
}/*# sourceMappingURL=style.css.map */